<div>
  <h2 mat-dialog-title>You can update this element</h2>
  <mat-dialog-content>
    <form [formGroup]="elementForm">
      <mat-form-field class="form-field-container" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field class="form-field-container" appearance="fill">
        <mat-label>Weight</mat-label>
        <input matInput formControlName="weight">
      </mat-form-field>

      <mat-form-field class="form-field-container" appearance="fill">
        <mat-label>Symbol</mat-label>
        <input matInput formControlName="symbol">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-flat-button mat-dialog-close (click)="update()">Update</button>
  </mat-dialog-actions>
</div>
